node_modules/
venv/
.venv/
.next/
dist/
build/
.env
apps/api/data/
.DS_Store
__pycache__/
*.pyc
gcloud-key.json
.DS_Store
.DS_Store
apps/api/.DS_Store
apps/web/tsconfig.tsbuildinfo
apps/api/google-service-account.json
